.Card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 30px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
@media (max-width: 450px) {
  .Card {
    margin: 5px 5px;
  }
}
