.content {
  /*if sth goes wrong, paste flex-direction: column here */
  display: grid;
  grid-gap: 15px;
  grid-template-columns: auto auto;
  background-color: #79bea8;
  overflow: hidden;
}
@media (max-width: 1000px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}
